/* Style général */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #ce2f13; /* Rouge tomate */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 3rem;
    color: #333;
}

#settingsButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.hidden {
    display: none;
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

label {
    font-size: 1.2rem;
    color: #333;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Timer */
.timer-Container {
    margin: 20px 0;
}

.timer {
    font-size: 4rem;
    font-weight: bold;
    color: #00cc29; /* Vert légèrement plus foncé pour le contraste */
}

/* Bouton démarrer/pause */
.start-button {
    background-color: #00cc29;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 1.5rem;
    border-radius: 10px; /* Coins arrondis pour un design moderne */
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Ombre pour plus de relief */
}

.start-button:hover {
    background-color: #b3ffbf; /* Légèrement plus clair au survol */
    transform: scale(1.05); /* Légère mise à l'échelle pour indiquer l'interaction */
}

.status-text {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

/* Responsivité */
@media screen and (max-width: 600px) {
    .timer {
        font-size: 3rem; /* Réduire la taille du timer sur petits écrans */
    }

    .start-button {
        padding: 10px 20px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    .timer {
        font-size: 2.5rem; /* Encore plus petit pour très petits écrans */
    }

    .start-button {
        padding: 8px 16px; /* Réduire encore les boutons sur très petits écrans */
        font-size: 1rem;
    }
}
